<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="baqiwudi">
		<title>霸气无敌</title>
		<link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../static/bootstrap/css/dashboard.css" rel="stylesheet">

		<script src="../../static/js/jquery-3.2.1.min.js"></script>
		<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
	</head>

	<body>
		<!--
        	作者：baqiwudi
        	时间：2018-01-06
        	描述： 表头
       -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="../../index.html">Home</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#"><img src="../../static/image/my_16X16.ico" />个人博客</a>
						</li>
						<li>
							<a href="../../views/life/index_life.html">点滴生活</a>
						</li>
						<li>
							<a href="../../views/us/index_us.html">关于我们</a>
						</li>
						<li>
							<a href="../../views/help/index_help.html">Help</a>
						</li>
					</ul>
					<!--
                    	作者：offline
                    	时间：2018-01-06
                    	描述：
                    
					<form class="navbar-form navbar-right">
						<input type="text" class="form-control" placeholder="Search...">
					</form>
					-->
				</div>
			</div>
		</nav>


		<!--
	作者：offline
	时间：2018-01-06
	描述：表体
	-->
		<div class="container-fluid">
			<div class="row">
				<!--
        	作者：baqiwudi
        	时间：2018-01-06
        	描述： 左边导航栏
       -->
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li  class="active">
							<a href="#a1" id="navbar1"  onclick="selectLi(this);">第一个导航栏</a>
						</li>
						<li>
							<a href="#a2" id="navbar2"  onclick="selectLi(this);">第二个导航栏</a>
						</li>
						<li>
							<a href="#a3" id="navbar3"	onclick="selectLi(this);">第三个导航栏</a>
						</li>
						<li>
							<a href="#a4" id="navbar4"	onclick="selectLi(this);">第四个导航栏</a>
						</li>
					</ul>
				</div>
				<!--
        	作者：baqiwudi
        	时间：2018-01-06
        	描述： 右边导航栏实物
       			-->
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<div class="page-header">
						好好学习天天向上
						好好学习天天向上
						好好学习天天向上
						好好学习天天向上
					</div>
					<a id="a1"><br/> <br/></a>
					<div id="content1">
						<h1>第1个导航栏</h1>
						<div>
							第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>
						</div>
					</div>

					<a id="a2"><br/> <br/></a>
					<div id="content2">
						<h1>第2个导航栏</h1>
						<div>
							第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>
						</div>
					</div>

					<a id="a3"><br/> <br/></a>
					<div id="content3">
						<h1>第3个导航栏</h1>
						<div>
							第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>
						</div>
					</div>

					<a id="a4"><br/> <br/></a>
					<div id="content4">
						<h1>第4个导航栏</h1>
						<div>
							第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/> 第四个导航栏
							<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>第四个导航栏<br/>
						</div>
					</div>

				</div>
			</div>
		</div>
		<script type="text/javascript">
			function selectLi(obj){
				$(obj).closest("ul").find("li").removeClass();
				$(obj).closest("li").attr("class","active");
			}
		</script>
	</body>

</html>